/* STYLES FOR THE WORDLE CLONE */

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-color: black;
    --default-bg-color: white;
    --box-border-color: #ddd;
    --box-filled-color: #888;
    --button-color: black;
    --button-bg-color: #ccc;
    --guessed-color: white;
    --absent-bg-color: #888;
    --present-bg-color: #dc6;
    --correct-bg-color: #6a6;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--default-color);
    background-color: var(--default-bg-color);
}

.dark {
    --default-color: white;
    --default-bg-color: black;
    --box-border-color: #333;
    --box-filled-color: #666;
    --button-color: white;
    --button-bg-color: #999;
    --guessed-color: white;
    --absent-bg-color: #555;
    --present-bg-color: #ba4;
    --correct-bg-color: #595;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 16px;
    border-bottom: 1px solid var(--absent-bg-color);
}

h1 {
    text-align: center;
    padding: 8px;
}

button.material-icons {
    background: none;
    border: none;
    color: var(--default-color);
    cursor: pointer;
    padding: 0 4px;
}

#game-board {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.letter-row {
    display: flex;
}

.letter-box {
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 58px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.letter-box[data-state='empty'] { border: 2px solid var(--box-border-color); }
.letter-box[data-state='filled'] { border: 2px solid var(--box-filled-color); color: var(--default-color); }
.letter-box[data-state='absent'] { color: var(--guessed-color); background-color: var(--absent-bg-color); }
.letter-box[data-state='present'] { color: var(--guessed-color); background-color: var(--present-bg-color); }
.letter-box[data-state='correct'] { color: var(--guessed-color); background-color: var(--correct-bg-color); }

#keyboard-cont {
    margin: 0 8px;
    user-select: none;
}

#keyboard-cont div {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.second-row::before,
.second-row::after {
    content: " ";
    flex:0.5;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0px;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.keyboard-button[data-key="Enter"] { flex: 1.75; }
.keyboard-button[data-key="Del"] { flex: 1.75; }

.keyboard-button[data-state='normal'] { color: var(--button-color); background-color: var(--button-bg-color); }
.keyboard-button[data-state='absent'] { color: var(--guessed-color); background-color: var(--absent-bg-color); }
.keyboard-button[data-state='present'] { color: var(--guessed-color); background-color: var(--present-bg-color); }
.keyboard-button[data-state='correct'] { color: var(--guessed-color); background-color: var(--correct-bg-color); }

.no-pointer-events { pointer-events: none; }

@media (min-width: 500px) {
    #keyboard-cont div {
        width: 500px;
    }

    .letter-box {
        margin: 2px;
        font-size: 2.5rem;
        font-weight: 700;
        height: 80px;
        width: 80px;
    }

}

/* Adjust the top margin of toast container to leave space for the header height */
#toast-container.toast-top-center {
    top: 54px;
}

/* Adjust some styling for modal dialogs */
.fade {
    font-family: "Poppins", sans-serif;
}
.modal-dialog {
    color: var(--default-color) !important;
    background-color: var(--default-bg-color) !important;
    border: 1px solid var(--default-color) !important;
    width: 400px;
}
.modal-dialog p,
.modal-dialog h5 {
    margin-bottom: 1em;
}
.modal-header, .modal-body, .modal-footer {
    color: inherit !important;
    background-color: inherit !important;
}
.green {
    background-color: var(--correct-bg-color);
}
.yellow {
    background-color: var(--present-bg-color);
}
.darkgrey {
    background-color: var(--absent-bg-color);
}

/* Some styling for stats dialog */
.modal-body * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.modal-body h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
#stats-table {
    width: fit-content;
    margin: 0 auto 1em auto;
}
#stats-table td {
    width: 1em;
    text-align: center;
    vertical-align: top;
    padding: 0 16px;
}
#stats-table td.number {
    font-size: 2.5em;
    font-weight: 300;
}
#stats-table td.label {
    font-size: 12px;
    font-weight: 300;
}
#stats-graph {
    width: 100%;
}
#stats-graph .bar-outer {
    width: 100%;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
#stats-graph .bar-outer span {
    width: 1em;
    text-align: end;
    margin-right: 5px;
}
#stats-graph .bar-inner {
    min-width: 19px;
    line-height: 24px;
    color: var(--guessed-color);
    background-color: #666;
    text-align: right;
    padding: 0px 5px;
}
#stats-graph .highlight {
    color: var(--guessed-color);
    background-color: var(--correct-bg-color);
}

/* Styling for settings dialog */
.setting {
    align-items: center;
    border-bottom: 1px solid #555;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
}
.setting .title {
    color: var(--default-color);
    display: block;
    font-size: 18px;
}
.setting .description {
    color: var(--default-color);
    filter: brightness(0.5);
    display: block;
    font-size: 12px;
}
.setting .switch {
    background-color: #555;
    height: 20px;
    width: 32px;
    padding: 2px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.setting .switch[checked] {
    background-color: var(--correct-bg-color);
}
.setting .switch .knob {
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 2px;
    right: auto;
    border-radius: 8px;
    background-color: white;
    transition: all 250ms;
    pointer-events: none;
}
.setting .switch[checked] .knob {
    right: 2px;
    left: auto;
}

/* End of code. */